

<div class="col-12">
    <h4> Главная страница</h4>
    <dir>
        Данное веб приложение предназначено для работы с товарами предприятия. Используя это приложение можно создавать, удалять, редактировать,
        просматривать список уже имеющихся и детальную информацию по отдельности товара и прайс-листов с ними.
    </dir>
    <dir> Страницы веб приложения с их описанием в раскрывающемся поле(изображения функциональных возможностей)</dir>

    <dir>
        <p>Стек разработки:</p>
        <p>Язык программирования: С# версия 11.0 (уточнить версию)</p>
        <p>Фреймворк для создания веб-приложений: ASP.NET Core версия 8.0</p>
        <p>Архитектурный паттерн: MVC</p>
        <p>Вёрстка страниц приложения: HTML + CSS</p>
        <p>Фреймворк для вёрстки страниц приложения: Bootstrap версия: 5.3.3 (уточнить версию)</p>
        <p>СУБД хранилища данных: MSSQL</p>
        <p>Технология для доступа к базам данных: Entity Framework Core версия: 6.0.25 (уточнить версию)</p>
    </dir>
</div>